// Bootstrap variables

$font-family-sans-serif: "Lunema", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$body-color: #424242 !default;

$primary: #333333 !default;
$secondary: #757575 !default;
$success: #1DAB47 !default;
$info: #8A3FFC !default;
$warning: #FCAE3F !default;
$danger: #FC413F !default;
$light: #f8f9fa !default;
$dark: #212529 !default;

$border-radius: 0 !default;

// Spur variables
$logo-color: #333333 !default;
$toolbar-bg: #FFFFFF !default;

$dash-nav-dark-color: #fff !default;
$dash-nav-dark-hover-bg: rgba(#fff, .1) !default;
$dash-nav-dark-bg: #333333 !default;

$searchbox-input-placeholder: #8b8b8b !default;