@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-thin-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-ultra-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lunema';
  src: url('./assets/fonts/lunema-ultra-bold-italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family: 'Lunema';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  * {
    font-family: 'Lunema';
  }

  color: #000000;
  background-color: #fdf7e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #6663fd;
  text-decoration: inherit;
  transition: color 0.15s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #5351cc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fdf7e7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

button:hover {
  border-color: #6663fd;
  color: #6663fd;
  background-color: #f8f9fa;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #fdf7e7;
  }

  a:hover {
    color: #5351cc;
  }

  button {
    background-color: #ffffff;
    color: #000000;
  }
}